.container {
  width: 100vw;

  padding: 0;

  background: #7F265B;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;

  button {
    background: none;
    text-decoration: underline;

    margin: 24px;

    padding: 12px 24px;

    border-radius: 4px;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}

.logo {
  margin: 24px;

  width: 46px;
  height: 52px;
}

