.container {
  width: 100vw;

  padding: 15px 30px 15px 0;

  background: #FFF;

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 4vw;
  height: 4vh;
}

.line {
  width: 100vw;
  height: 1px;

  background: #bcbbbb;
}
