.container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

.main {
  display: flex;
  flex: 1;
}

.tasks {
  display: flex;
  flex-direction: column;

  flex: 1;

  padding: 72px;

  & > h1 {
    margin-bottom: 16px;

    font-size: 24px;
    font-weight: 500;

    color: #7f265b;

    border-bottom: 1px solid #e1e1e6;
  }

  .input_row {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 16px;

    input {
      padding: 4px 8px;

      border-radius: 4px;

      border: 1px solid #e1e1e6;

      &:last-of-type {
        margin-left: 8px;
      }
    }

    button {
      margin-left: 8px;
      padding: 8px 12px;

      border-radius: 4px;

      background: #7f265b;

      color: #fff;

      font-size: 0.75rem;
      font-weight: 500;

      &:hover {
        filter: opacity(0.9);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;

    gap: 32px;
  }
}

.modal {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  .tags_modal {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 240px;

    background: #fff;

    padding: 32px;

    border-radius: 8px;


    ul {
      list-style: none;

      cursor: pointer;

      li {
        white-space: nowrap;
        font-size: 0.75rem;
        font-weight: 600;

        width: 100%;

        padding: 8px 12px;
        border-radius: 4px;

        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .edit_modal {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 240px;

    background: #fff;

    padding: 32px;

    border-radius: 8px;

    input {
      padding: 4px 8px;

      border-radius: 4px;

      border: 1px solid #e1e1e6;

      margin-bottom: 16px;
    }

    button {
      padding: 8px 12px;

      border-radius: 4px;

      background: #7f265b;

      color: #fff;

      font-size: 0.75rem;
      font-weight: 500;

      &:hover {
        filter: opacity(0.9);
      }
    }
  }
}

.modal_hidden {
  display: none;
  opacity: 0;
}


