.container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.tags {
  display: flex;
  flex-direction: column;

  padding: 12px;

  .input_row {
    input {
      padding: 8px;

      border-radius: 8px;

      border: 1px solid #e1e1e6;
    }

    button {
      margin-left: 8px;

      padding: 8px;

      border-radius: 8px;

      border: 1px solid #e1e1e6;

      background-color: #e1e1e6;

      &:hover {
        background-color: #d4d4d4;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;

    list-style: none;

    margin-top: 8px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 8px;

      border-radius: 8px;

      button {
        background: none;
      }

      &+li {
        margin-top: 8px;
      }

      &.selected {
        background-color: #e1e1e6;
      }

      span {
        margin-left: 8px;
      }
    }
  }
}
