.container {
  margin: 24px;

  height: 30vh;
  width: 25vw;

  border-radius: 10px;
  padding: 15px;

  background: #FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.delete_button {
  font-size: 1.2rem;
  color: #7F265B;
}

.tag_container {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 15px;

  span {
    font-size: 0.9rem;
    color: #FFF;

    background-color: #7F265B;

    padding: 2px 5px;
    border-radius: 5px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date {
  font-size: 0.8rem;
  color: #FFF;

  background-color: #7F265B;

  border-radius: 50%;
  padding: 5px 8px;
}

.user {
  font-size: 0.8rem;
  color: #FFF;

  background-color: #7F265B;

  border-radius: 50%;
  padding: 5px 4px;
}
